.slider__item-text {
  transform: translateX(20%);
  opacity: 0;
  transition: all 0.5s ease;
}

.screen--story.active {
  .swiper-slide-active,
  .swiper-slide-next {
    .slider__item-text {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .swiper-slide-active {
    .slider__item-text {
      transition-delay: 0.2s;
    }
  }

  .swiper-slide-next {
    .slider__item-text {
      transition-delay: 0.5s;
    }
  }
}
